<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="https://github.com/lynchseb/tinyapp2">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(user_id) { %>
      <p class="navbar-brand"> Logged in as: <%= user_id.email %> </p>
      <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">Logout</button>
        </div>
      </form>
      
    <% } else { %> 
    
      <form class="form-inline" style="padding: 5px; margin: auto" action="/login" method="GET">
        <div class="form-group mb-2">
        <button type="submit" style="width: 100px" class="btn btn-primary">Login</button>
        </div>
      </form>
      <form class="form-inline" style="padding: 5px; margin: auto" action="/register" method="GET">
        <div class="form-group mb-2">
        <button type="submit" style="width: 100px" class="btn btn-primary">Register</button>
        </div>
      </form>
    


  <% } %>
  </nav>
</header>